{% extends 'base.html' %}
{% load static %}
{% block content %}


  <!-- about section -->

  <section class="about_section layout_padding-bottom">
    <div class="square-box">
      <img src="{% static '/images/square.png' %}" alt="">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static '/images/about-img.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          {% for a in about %}
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                {{a.about}}
              </h2>
            </div>
            <p>
              {{a.desc}}
            </p>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>
  </section>

  <!-- end about section -->


 <section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              Наши контакты
            </h5>
            <div>
              <div class="img-box">
                <img src="{% static '/images/location.png' %}" width="18px" alt="">
              </div>
              <p>
                Ахунбаева 21А
              </p>
            </div>
            <div>
              <div class="img-box">
                  <img src="{% static '/images/phone.png' %}" width="12px" alt="">
              </div>
              <p>
                +996 222-350-031
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="{% static '/images/mail.png' %}" width="18px" alt="">
              </div>
              <p>
                demo@gmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Информация
            </h5>
            <p>
               Поможем вам найти квартиру быстро и легко!
               Обращайтесь в любое время, работаем 24/7 для вас
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="info_links">
            <h5>
              Полезные ссылки
            </h5>
            <ul>
              <li>
                <a href="https://www.instagram.com">
                  Instagram
                </a>
              </li>
              <li>
                <a href="https://www.youtube.com">
                  YouTube
                </a>
              </li>
              <li>
                <a href="https://www.twitter.com">
                  Twitter
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com">
                  Facebook
                </a>
              </li>
            </ul>
          </div>
        </div>


  <!-- end info_section -->

  <!-- footer section -->
  <section class="container-fluid footer_section ">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> Все права защищены
        <a href="https://html.design/"></a>
      </p>
    </div>
  </section>
  <!-- end  footer section -->


  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/custom.js"></script>

      </div>
    </div>
  </section>
</body>

</html>
{% endblock %}