{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Teaser</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static '/css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static '/css/responsive.css' %}" rel="stylesheet" />

<!--  {% if request.user.is_authenticated %}-->
<!--     <p><a href="{% url 'logout' %}">Log Out</a></p>-->
<!--  {% else %}-->
<!--  <li>-->
<!--    <a href="{% url 'login' %}">-->
<!--      <button type="button" class="login-btn">-->
<!--        <i class="flaticon-profile"></i>Логин-->
<!--      </button>-->
<!--    </a>-->
<!--  </li>-->
<!--  <li>-->
<!--    <a href="{% url 'register' %}">-->
<!--      <button type="button" class="login-btn">-->
<!--        Регистрация-->
<!--      </button>-->
<!--    </a>-->
<!--  </li>-->
<!--  {% endif %}-->


</head>


<body>

    <!-- slider section -->
    <section class="slider_section ">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 offset-md-1">
            <div class="detail-box">
              <h1>
                {% for b in banner %}
                <span> {{ b.banner }}</span> <br>

              </h1>
              <p>
                Мы поможем найти вам квартиру мечты. С нами мечты сбываются)
              </p>
              {% endfor %}
              <div class="btn-box">
                <a href="{% url 'about' %}" class="">
                  Узнать больше
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>



  <!-- about section -->

  <section class="about_section layout_padding-bottom">
    <div class="square-box">
      <img src="{% static '/images/square.png' %}" alt="">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static '/images/about-img.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          {% for a in about %}
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                {{a.about}}
              </h2>
            </div>
            <p>
              {{a.desc}}
            </p>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- sale section -->

  <section class="sale_section layout_padding-bottom">
    <div class="container-fluid">
      <div class="heading_container">
        <h2>
          Дома на продаже
        </h2>
        <p>
         Здесь есть лишь маленькая часть квартир, для удобсвта и экономии времени возпользуйтесть нашими услугами
        </p>
      </div>
      <div class="sale_container">
        <div class="box">
          <div class="img-box">
            <img src="{% static '/images/s-1.jpg' %}" alt="">
          </div>
          <div class="detail-box">
            <h6>
             3-комн. кв., 80 м2, 7 этаж из 12
            </h6>
            <p>
             Бишкек, Молодая Гвардия, Калык Акиева 12/Боконбаева
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{% static '/images/s-2.jpg' %}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              1-комн. кв., 54 м2, 10 этаж из 13
            </h6>
            <p>
              Бишкек, Средний Джал м-н, Тыналиева 1/3
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{% static '/images/s-3.jpg' %}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Дом, 6 и более комнат, 354 м2
            </h6>
            <p>
              Бишкек, Таш Рабат, Карасаева 49/Матросова
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{% static '/images/s-4.jpg' %}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              2-комн. кв., 86 м2, 4 этаж из 11
            </h6>
            <p>
              Бишкек, Магистраль, м-н. Асанбай, ул. Аалы Токомбаева
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{% static '/images/s-5.jpg' %}" alt="">
          </div>
          <div class="detail-box">
            <h6>
              2-комн. кв., 50 м2, 3 этаж из 5
            </h6>
            <p>
              Бишкек, 5 м-н
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{% static '/images/s-6.jpg' %} " alt="">
          </div>
          <div class="detail-box">
            <h6>
              1-комн. кв., 52 м2, 6 этаж из 12
            </h6>
            <p>
              Бишкек, 7 м-н, Жукеева-Пудовкина 26/2
            </p>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="https://www.house.kg/">
          Больше
        </a>
      </div>
    </div>
  </section>

  <!-- end sale section -->

  <!-- price section -->

  <section class="price_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container">
        <h2>
          Наши цены
        </h2>
        <p>
          Стоимость услуги может различаться от пакета
        </p>
      </div>
      <div class="price_container">
        <div class="box">
          <div class="detail-box">
            <div class="heading-box">
              <h4>
                01
              </h4>
              <h6>
                База
              </h6>
            </div>
            <div class="text-box">
              <h2>
                $50
              </h2>
              <ul>
                <li>
                  Найдем комфротное
                </li>
                <li>
                  жилье в течении 7-10 дней
                </li>
                <li>
                  Варианты от 3-6
                </li>
                <li>
                  квартир.
                </li>
              </ul>
            </div>
          </div>
          <div class="btn-box">
            <a href="https://my.forms.app/templatesru/payment-collection-form">
              Купить
            </a>
          </div>
        </div>
        <div class="box">
          <div class="detail-box">
            <div class="heading-box">
              <h4>
                02
              </h4>
              <h6>
                Стандарт
              </h6>
            </div>
            <div class="text-box">
              <h2>
                $80
              </h2>
              <ul>
                <li>
                  Варианты квартир от 7
                </li>
                <li>
                  до 10. Рассматривается
                </li>
                <li>
                  потребности клиента
                </li>
                <li>
                  Время нахождение от 5-7
                </li>
                <li>
                  дней
                </li>
                <li>

                </li>
              </ul>
            </div>
          </div>
          <div class="btn-box">
            <a href="https://my.forms.app/templatesru/payment-collection-form">
              Купить
            </a>
          </div>
        </div>
        <div class="box">
          <div class="detail-box">
            <div class="heading-box">
              <h4>
                03
              </h4>
              <h6>
                Премиум
              </h6>
            </div>
            <div class="text-box">
              <h2>
                $100
              </h2>
              <ul>
                <li>
                  Ищем квартиру по желанию клиента,
                </li>
                <li>
                  в течении 3 дней найдем жилье
                </li>
                <li>
                  Помощь в населении
                </li>
                <li>
                  Варианты квартир от 10 до 15
                </li>
                <li>
                  связь с нами 24/7 доступно
                </li>
                <li>
                 Даем гарантию на переезд
                </li>
              </ul>
            </div>
          </div>
          <div class="btn-box">
            <a href="https://my.forms.app/templatesru/payment-collection-form">
              Купить
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end price section -->

  <!-- deal section -->

  <section class="deal_section layout_padding-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            {% for d in banner2 %}
            <div class="heading_container">
              <h2>
                {{ d.banner }}
             </h2>
            </div>
            <p>
             {{ d.desc }}
            </p>
            {% endfor %}
            <a href="{% url 'contacts' %}">
              Получить предложение
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <div class="box b1">
              <img src="{% static '/images/d-1.jpg' %} " alt="">
            </div>
            <div class="box b1">
              <img src="{% static '/images/d-2.jpg' %} " alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end deal section -->


  <!-- us section -->
  <section class="us_section layout_padding2">

    <div class="container">
      <div class="heading_container">
        <h2>
          Почему выбирают нас?
        </h2>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="box">
            <div class="img-box">
              <img src="{% static '/images/u-1.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h3 class="price">
                1000+
              </h3>
              <h5>
                Дома в год
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="box">
            <div class="img-box">
              <img src="{% static '/images/u-2.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h3>
                20000+
              </h3>
              <h5>
                Реализованные проекты
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="box">
            <div class="img-box">
              <img src="{% static '/images/u-3.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h3>
                10000+
              </h3>
              <h5>
                Довольные клиенты
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="box">
            <div class="img-box">
              <img src="{% static '/images/u-4.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h3>
                1500+
              </h3>
              <h5>
                Дешевые цены
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="{% url 'contacts' %}">
          Получить предложение
        </a>
      </div>
    </div>
  </section>

  <!-- end us section -->


 <!-- client secction -->
 <section class="client_section layout_padding">
  <div class="container-fluid">
    <div class="heading_container">
      <h2>
       Отзывы наших клиентов
      </h2>
    </div>
    {% for f in feedback %}
    <div class="client_container">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="box">
              <div class="img-box">
                <img src="{% static '/images/client.jpg' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  <span>{{ f.name }} </span>
                  <hr>
                </h5>
                <p>
                {{ f.feedback }}
                </p>
              </div>
            </div>
          </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>



  <!-- end client section -->

  <!-- contact section -->

  <section class="contact_section ">
    <div class="container">
      <div class="heading_container">
        <h2>
          Связь с нами
        </h2>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 px-0">
          <div class="map_container">
            <div class="map-responsive">
              <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France" width="600" height="300" frameborder="0" style="border:0; width: 100%; height:100%" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 ">
          <div class="form_container">
            <form action="" method="post">
              {% csrf_token %}
              {% if success %}
                  <div class="alert alert-danger">
                    <strong>Спасибо за отклик!</strong>
                  </div>
              {% else %}
                  <div>
                    {{ form.name }}
                  </div>
                  <div>
                    {{ form.email }}
                  </div>
                  <div>
                    {{ form.number }}
                  </div>
                  <div>
                    {{ form.message }}
                    </div>
                  <div class="d-flex ">
                    <button>
                     Отправить
                    </button>
                  </div>
                {% endif %}
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- end contact section -->



  <!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              Наши контакты
            </h5>
            <div>
              <div class="img-box">
                <img src="{% static '/images/location.png' %}" width="18px" alt="">
              </div>
              <p>
                Ахунбаева 21А
              </p>
            </div>
            <div>
              <div class="img-box">
                  <img src="{% static '/images/phone.png' %}" width="12px" alt="">
              </div>
              <p>
                +996 222-350-031
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="{% static '/images/mail.png' %}" width="18px" alt="">
              </div>
              <p>
                demo@gmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Информация
            </h5>
            <p>
               Поможем вам найти квартиру быстро и легко!
               Обращайтесь в любое время, работаем 24/7 для вас
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="info_links">
            <h5>
              Полезные ссылки
            </h5>
            <ul>
              <li>
                <a href="https://www.instagram.com">
                  Instagram
                </a>
              </li>
              <li>
                <a href="https://www.youtube.com">
                  YouTube
                </a>
              </li>
              <li>
                <a href="https://www.twitter.com">
                  Twitter
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com">
                  Facebook
                </a>
              </li>
            </ul>
          </div>
        </div>


  <!-- end info_section -->

  <!-- footer section -->
  <section class="container-fluid footer_section ">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> Все права защищены
        <a href="https://html.design/"></a>
      </p>
    </div>
  </section>
  <!-- end  footer section -->


  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/custom.js"></script>

      </div>
    </div>
  </section>
</body>

</html>

{% endblock %}