{% extends 'base.html' %}
{% load static %}
{% block content %}


   <!-- price section -->

   <section class="price_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container">
        <h2>
          Наши цены 
        </h2>
        <p>
          Стоимость услуги может различаться от пакета
        </p>
      </div>
      <div class="price_container">
        <div class="box">
          <div class="detail-box">
            <div class="heading-box">
              <h4>
                01
              </h4>
              <h6>
                База
              </h6>
            </div>
            <div class="text-box">
              <h2>
                $50
              </h2>
              <ul>
                <li>
                  Найдем комфротное
                </li>
                <li>
                  жилье в течении 7-10 дней
                </li>
                <li>
                  Варианты от 3-6
                </li>
                <li>
                  квартир. 
                </li>
              </ul>
            </div>
          </div>
          <div class="btn-box">
            <a href="">
              Купить
            </a>
          </div>
        </div>
        <div class="box">
          <div class="detail-box">
            <div class="heading-box">
              <h4>
                02
              </h4>
              <h6>
                Стандарт
              </h6>
            </div>
            <div class="text-box">
              <h2>
                $80
              </h2>
              <ul>
                <li>
                  Варианты квартир от 7
                </li>
                <li>
                  до 10. Рассматривается
                </li>
                <li>
                  потребности клиента
                </li>
                <li>
                  Время нахождение от 5-7 
                </li>
                <li>
                  дней
                </li>
                <li>
                  
                </li>
              </ul>
            </div>
          </div>
          <div class="btn-box">
            <a href="">
              Купить
            </a>
          </div>
        </div>
        <div class="box">
          <div class="detail-box">
            <div class="heading-box">
              <h4>
                03
              </h4>
              <h6>
                Премиум
              </h6>
            </div>
            <div class="text-box">
              <h2>
                $100
              </h2>
              <ul>
                <li>
                  Ищем квартиру по желанию клиента,
                </li>
                <li>
                  в течении 3 дней найдем жилье
                </li>
                <li>
                  Помощь в населении
                </li>
                <li>
                  Варианты квартир от 10 до 15
                </li>
                <li>
                  связь с нами 24/7 доступно 
                </li>
                <li>
                 Даем гарантию на переезд
                </li>
              </ul>
            </div>
          </div>
          <div class="btn-box">
            <a href="">
              Купить
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end price section -->

  

{% endblock %}
  